<div fxFill fxLayoutAlign="center center">
  <div fxFlex.xs="100" fxFlex.sm="80" fxFlex="40">

    <mat-card >
      <mat-card-header>
        <mat-card-title>Create new account</mat-card-title>
      </mat-card-header>

      <form #loginForm="ngForm"
            (ngSubmit)="onSubmit()"
            fxLayout="column"
            fxLayoutGap="16px">
        <mat-form-field appearance="fill">
          <mat-label>login</mat-label>
          <input matInput required [(ngModel)]="user.name" name="name">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>password</mat-label>
          <input matInput required [(ngModel)]="user.password" name="password">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>confirm password</mat-label>
          <input matInput required [(ngModel)]="user.confirm_password" name="confirm_password">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>email</mat-label>
          <input matInput type="email" required [(ngModel)]="user.email" name="email">
        </mat-form-field>

        <div fxLayout="row" fxLayoutAlign="end center">
          <button mat-flat-button
                  color="primary"
                  [disabled]="!loginForm.form.valid || !(wsStatus$ | async)"
                  type="submit">
            Create
          </button>
        </div>

      </form>
    </mat-card>

  </div>
</div>
