<mat-sidenav-container fxFill [ngClass]="{'blur': !(wsStatus$ | async)}">
  <mat-sidenav #leftNav>
    <div class="mat-typography">
      <p class="mat-body-2">Dawid Rudzik</p>
      <p class="mat-small">rudzikdawid@gmail.com</p>
    </div>

    <mat-nav-list>
      <a mat-list-item>
        <mat-icon mat-list-icon>group_add</mat-icon>
        <h4 mat-line>Zaproszenia</h4>
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>settings</mat-icon>
        <h4 mat-line>Ustawienia</h4>
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>help</mat-icon>
        <h4 mat-line>Pomoc</h4>
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>lock</mat-icon>
        <h4 mat-line>Polityka prywatności</h4>
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>list_alt</mat-icon>
        <h4 mat-line>Warunki usługi</h4>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column">
    <mat-toolbar fxLayoutGap="16px">

      <button *ngIf="(routeButton$ | async) as routeButton; else hamburger" mat-icon-button [routerLink]="[routeButton.route]">
        <mat-icon class="example-icon">{{routeButton.icon}}</mat-icon>
      </button>

      <ng-template #hamburger>
        <button mat-icon-button (click)="leftNav.toggle()">
          <mat-icon class="example-icon">menu</mat-icon>
        </button>
      </ng-template>

      <span>{{toolbarTitle$ | async}}</span>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-offline *ngIf="!(wsStatus$ | async)" [@myAnimation]></app-offline>
